.root_save {
  font-size: var(--mantine-font-size-sm);
  border: 0;
  width: rem(74px);
  height: rem(42px);
  &:hover {
    background-color: var(--mantine-color-purple-4);
  }
  &:active {
    background-color: var(--mantine-color-purple-6);
  }
}

.root_remove {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-purple-5);
  padding-inline: 0;
  border: 0;
  &:hover {
    color: var(--mantine-color-purple-4);
  }
  &:active {
    color: var(--mantine-color-purple-6);
  }
}

.root_rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
